
#message-input-container {
  margin-bottom: 0.5rem;
  position: sticky;

  #message-input {
    [data-slot="input-wrapper"] {
      width:100%;
    }
  }
}

.markdown-content {
  white-space: pre-line;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content pre {
  white-space: pre-wrap;
}

.drag-active {
  outline: none;
}

[data-slot="tabList"] {
  overflow-x: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
